html,
body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/* HEADER CODE START*/
#nav {
  display: flex;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 2;
  background-color: white;
}

#nav label {
  display: block;
  position: relative;
}

#hamburger_menu {
  width: 0px;
}

#logo {
  flex-grow: 1;
  text-align: center;
}

#logo p {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  margin: 0px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  z-index: 1;
  width: 100%;
  margin-top: 50px;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  padding: 0px;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* HEADER CODE END*/

#tabs {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-right: 10vw;
  font-weight: bold;
}

.tab {
  padding: 0 .5rem;
}

#hero {
  position: relative;
  width: 100%;
  min-height: 350px;
}

#hero_image {
  min-height: 400px;
}

#hero_info {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  background-color: #80808061;
}

#waves {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
}

#waves_reverse {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  rotate: 180deg;
}

.white_to_grey_btn {
  min-width: 130px;
  height: 40px;
  color: grey;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  background: #fff;
  border: 0;

}

.white_to_grey_btn:hover {
  border: 2px solid #adb5bd;
  background: #adb5bd;
  color: white;
}

section {
  text-align: center;
  padding: 1rem;
}

#section_one_info {
  padding-bottom: 1.5rem;
}

#section_one__read_more_btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #212529;
  color: #212529;
}

#section_one__read_more_btn:hover {
  color: #fff;
}

#section_one__read_more_btn:hover:after {
  width: 100%;
}

#section_one__read_more_btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #212529;
}

#section_two {
  background-image: url("../images/section_two_background.jpg");
  color: white;
}

#section_three {
  color: black;
}

.services_item {
  color: white;
  padding: 1rem;
  background-color: #266ce9;
}

.services_item:nth-child(2n+1) {
  background-color: cornflowerblue;
}

.service_img {
  width: 25%;
  max-width: 100px;
}

#section_four {
  padding: 0;
  margin: 1rem;
}

.section_four_card {
  position: relative;
}

.section_four__overlay {
  position: absolute;
  padding-left: 100px;
  bottom: 25px;
  right: 0;
  left: 0;
  color: white;
  background-color: #5c696fd9;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 60px;
  background-position-x: 20px;
  text-align: left;
}

#electroinstallations {
  background-image: url("https://www.elektro-heinemann.de/fileadmin/bilder/seiten/startseite/Teaser/icon-weiss-elektroinstallation.svg");
}

#industrial_electronics {
  background-image: url("https://www.elektro-heinemann.de/fileadmin/bilder/seiten/startseite/Teaser/icon-weiss-industrieelektrik.svg");
}

#network_techology {
  background-image: url("https://www.elektro-heinemann.de/fileadmin/bilder/seiten/startseite/Teaser/icon-weiss-datentechnik-netzwerktechnik.svg");
}

#customer_service {
  background-image: url("https://www.elektro-heinemann.de/fileadmin/bilder/seiten/startseite/Teaser/icon-weiss-kundendienst.svg");
}

#section_four img {
  width: 100%;
}

#section_four h3 {
  margin-bottom: 5px;
}

#section_four p {
  margin-top: 0px;
}

.card {
  margin-bottom: 20px;
}

.card_title {
  padding: 1rem;
  background-color: #000000d9;
  color: white;
}

.card_info {
  padding: 30px 0;
  box-shadow:
    0px 0px 1.1px rgba(0, 0, 0, 0.044),
    0px 0px 3.8px rgba(0, 0, 0, 0.066),
    0px 0px 17px rgba(0, 0, 0, 0.11);
}

.card:nth-child(2n+1) .card_info {
  background: whitesmoke;
}

.card_info_text {
  padding-bottom: 30px;
  max-width: 250px;
  text-align: center;
}

.card_info_text_wrapper {
  display: flex;
  justify-content: center;
}

.price {
  padding-bottom: 20px;
}

.price h1,
.price p {
  margin: 0;
  padding: 0px;
}

.card_btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #495057;
  background: #495057;
}

.card_btn:hover {
  background: #fff;
  color: #495057
}

#section_six {
  background-image: url("../images/particles.jpg");
  color: white;
  position: relative;
}

#contact_info {
  padding-top: 80px;
  padding-bottom: 20px;
}

#section_seven h4 {
  text-transform: uppercase;
}

#social_media_links {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.link {
  text-decoration: none;
  color: white;
  display: flex;
  padding-bottom: 10px;
}

.link_icon,
.link_text {
  padding: 10px 15px;
}

.link_icon {
  width: 15px;
  border-radius: 10px 0px 0px 10px;
}

.link_text {
  width: 75px;
  border-radius: 0px 10px 10px 0px;
}

#facebook .link_icon {
  background-color: #3b5998;
}

#facebook .link_text {
  background-color: #2f487d;
}

#instagram .link_text {
  background-color: #a9375d;
}

#instagram .link_icon {
  background-color: #E1306C;
}

#linkedin .link_text {
  background-color: #096696;
}

#linkedin .link_icon {
  background-color: #0077B5;
}